@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  @apply bg-background text-foreground font-sans;
}

/* Common background classes */
.bg-home {
  background-color: #45BB5B;
  background-image: linear-gradient(to right, #00FF1520 15%, #000E6920 100%);
}

.bg-calendar {
  background-color: #4B87FF;
  background-image: linear-gradient(to right, #FF00BF20 15%, #66008520 100%);
}

.bg-todo {
  background-color: #F46555;
  background-image: linear-gradient(to right, #FFFb0020 15%, #AA550020 100%);
}

.bg-timer {
  background-color: #F4C455;
  background-image: linear-gradient(to right, #FF8C0020 15%, #AA410020 100%);
}

/* Border classes for header */
.border-header-home {
  border-bottom: 3px solid #00966E;
}
.border-header-calendar {
  border-bottom: 3px solid #2649E5;
}
.border-header-todo {
  border-bottom: 3px solid #B03800;
}
.border-header-timer {
  border-bottom: 3px solid #B07200;
}

/* Border classes for footer */
.border-footer-home {
  border-top: 3px solid #00966E;
}
.border-footer-calendar {
  border-top: 3px solid #2649E5;
}
.border-footer-todo {
  border-top: 3px solid #B03800;
}
.border-footer-timer {
  border-top: 3px solid #B07200;
}
